<!DOCTYPE html>
<html>
  <head>
    <title>FS tech supplychain solution</title>
  </head>
  <body>
    <h1>Please scan here</h1>
    <form method="POST" action="/scan_order">
      <label for="unique_id">unique_id:</label>
      <input type="text" id="unique_id_scan" name="unique_id_scan" required><br><br>
      <label for="scan_status">Scan status:</label>
      <input type="text" id="scan_status" name="scan_status" required><br><br>
      <button type="submit">Submit</button>
      
      
    </form>
  </body>
</html>