<!DOCTYPE html>


<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 2.4px solid #DDD;
  
}

tr:hover {background-color: #D6EEEE;}
</style>

<table border-collapse: collapse;
  width: 200%;>
  <caption>Order details</caption>
        <thead>
          <tr>
            <th>sale order item code</th>
            <th>Order number</th>
            <th>SKU Code</th>
            <th>status</th>
            <th>Action</th>
            <th>Remarks</th>
            <th>Cancel</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td><a href="https://www.google.com" target="_blank">{{ order['soic'] }}</a></td>
            <td>{{ order['order_no'] }}</td>
            <td>{{ order['sku'] }}</td>
            <td>{{ order['tstatus'] }}</td>
            <td>{{ order['faction'] }}</td>
            <td>{{ order['remarks'] }}</td>
            <td><button class="editbtn">cancel</button></td>
          </tr>
       
          
          {% endfor %}

          {% include 'order_cancel.html' %}

          
        </tbody>
      </table>


